.apartment {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px;
  align-items: center;
}
.apartment span {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
}
.apartment-block {
  display: flex;
  align-items: center;
  gap: 57px;
  height: 80px;
  margin-right: 20px;
}
.apartment-block span {
  font-weight: 700;
}
.apartment-block img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}
.capacity {
  margin-left: 240px;
}
.price {
  margin-left: 232px;
}
.discount {
  text-align: center;
  margin-left: 230px;
}
