.apartments {
  padding: 30px 40px;
  padding-right: 50px;
  height: 100vh;
}
.apartments-loader {
  margin: 200px auto;
  width: fit-content;
}
.apartments-header {
  display: flex;
}
.apartments-header h1 {
  color: white;
  font-size: 3rem;
}
.apartments menu {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--secondary-layouts-bg);
  padding: 5px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 15px;
}
.apartments-table {
  margin: 30px auto;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: var(--secondary-layouts-bg);
  padding-bottom: 3px;
}
.apartments-table-header {
  display: flex;
  align-items: center;
  height: 50px;
  color: rgb(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: var(--body-bg);
  border-radius: 10px 10px 0px 0px;
}
.apartments-table-header tr {
  display: flex;
  align-items: center;
}
.apartments-table-header tr th {
  font-size: 1.6rem;
  text-transform: uppercase;
}
.apartment-th {
  margin-left: 180px;
}
.capacity-th {
  margin-left: 200px;
}
.price-th {
  margin-left: 280px;
}
.discount-th {
  margin-left: 200px;
}
